@model SaleProject.Models.Seller

@{
	ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div class="form-group">
				<label asp-for="Name" class="form-label mt-4">Name</label>
				<input asp-for="Name" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Email" class="form-label mt-4">Email Adress</label>
				<input asp-for="Email" class="form-control" />
				<small>We'll never share yout email with anyone else.</small>
			</div>
			<div class="form-group">
				<label asp-for="BirthDate" class="form-label mt-4">Birth Date</label>
				<input asp-for="BirthDate" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="BaseSalary" class="form-label mt-4">Base Salary</label>
				<input asp-for="BaseSalary" class="form-control" />
			</div>
			<hr />
			<div class="form-group">
				<button type="submit" value="Create" class="btn btn-outline-primary">Enviar</button>
			</div>
		</form>
	</div>
</div>